html {
    font-family: Arial, sans-serif;
    margin: auto;
}

body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #0d1145;
    color: #ffedee; */
}

a {
    /* color:#db93b5 */

}

#src-code {
    margin-top: 200px;
    display: block;
}